<%= form_for(@time_report) do |f| %>
  <% if @time_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_report.errors.count, "error") %> prohibited this time_report from being saved:</h2>

      <ul>
      <% @time_report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :started %><br />
    <%= f.datetime_select :started %>
  </div>
  <div class="field">
    <%= f.label :stopped %><br />
    <%= f.datetime_select :stopped %>
  </div>
  <div class="field">
    <%= f.label :task %><br />
    <%= f.text_field :task %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
