<p id="notice"><%= notice %></p>

<p>
  <b>Started:</b>
  <%= @time_report.started %>
</p>

<p>
  <b>Stopped:</b>
  <%= @time_report.stopped %>
</p>

<p>
  <b>Task:</b>
  <%= @time_report.task %>
</p>


<%= link_to 'Edit', edit_time_report_path(@time_report) %> |
<%= link_to 'Back', time_reports_path %>
